
# Maven
/target/
/pom.xml.tag
/pom.xml.bak
/pom.xml.versionsBackup
/pom.xml.next
/release.properties
/releaseDependencyManagement.xml

# Eclipse
.classpath
.project
.settings/
.metadata

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# OS
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env
